<html>
<head>
  <meta charset="utf-8">
  <title>Learnpoint</title>
  <meta content="learnpoint memberimu akses untuk mencari dan membuat kelas berbagimu" name="description">
  <meta content="Learnpoint" property="og:title">
  <link href="css/test.min.css" rel="stylesheet" type="text/css">
  <link rel="icon" type="image/png" href="asset/learnpoint/logo bulat.png" />
  <script async="" src="https://www.google-analytics.com/analytics.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
  <script type="text/javascript"></script>
</head>
<body>
  <div class="hol-fixed-scrollable-navbar w-nav" data-animation="default" data-collapse="tiny" data-duration="400" id="top">
    <div class="w-container"><a class="w-nav-brand w--current" href="/"><img alt="learnpoint Logo" class="learnpoint-logo" src="asset/learnpoint/logo bulat.png" width="50"></a><nav class="nav-menu w-nav-menu" role="navigation">
      <a class="hol-cta-button w-button" href="/howitworks" style="max-width: 940px;">How it works</a>
      <a class="hol-cta-button w-button" href="/login">LOG IN</a></nav>
      <div class="green-menu-button w-nav-button">
        <div class="hamburger-icon-theme w-icon-nav-menu"></div>
      </div>
    </div>
      <div class="w-nav-overlay" data-wf-ignore=""></div>
  </div>


<!--SIGN UP -->
      <div class="sign-up-section">
        <div class="bg-image flex50"></div>
        <div class="content flex50">
          <div>
            <div class="hol-wwd-section-title">SIGN UP</div>
            <p class="sign-up value-para">Sign up to be among the first to get access to the beta of Learnpoint. We’d love to have you as a Global Brand Ambassador so let us know if you’re keen to join the team too!</p>
            <div class="col-md-6" style="margin-bottom:10px;">
              <img src="asset/learnpoint/signup_google.png" style="width:145px; height:27px">
            </div>
            <div class="col-md-6" style="margin-bottom:10px;">
              <img src="asset/learnpoint/signup_facebook.jpg" style="width:145px; height:27px">
            </div>

            <div class="w-form">
              <form data-name="Brand Ambassador" data-redirect="/guest-thank-you" id="sign-up-form" name="sign-up-form" redirect="/guest-thank-you" method="POST">
                <input class="sign-up-form-field w-input" data-name="Username" id="username" maxlength="256" name="Username" placeholder="Username" required="required" type="text">
                <input class="sign-up-form-field w-input" data-name="Password 1" id="password1" maxlength="256" name="password1" placeholder="Password" required="required" type="password">
                <input class="sign-up-form-field w-input" data-name="Confirm Password" id="password2" maxlength="256" name="password2" placeholder="Re-enter Password" required="required" type="password">
                <input class="sign-up-form-field w-input" data-name="Email" id="email" maxlength="256" name="email" placeholder="Email Address" required="required" type="email">
                <input class="sign-up-form-field w-input" data-name="NIM" id="nim" maxlength="256" name="nim" placeholder="ID/NIM" required="required" type="text">
                <input class="hol-tran-btn w-button" data-wait="Please wait..." value="Sign Up" type="submit">
              </form>
              <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form</div>
              </div>
            </div>
          </div>
        </div>
      </div>

<!-- FOOTER -->
      <div class="hol-footer">
        <div class="w-container">
            <div class="footer-col-row w-row">
              <div class="w-col col-md-4">
                <div class="hol-footer-content-wrapper">
                  <div class="footer-title">GUESTS</div>
                    <ul class="w-list-unstyled">
                      <li class="li-item">
                        <a class="hol-footer-link" href="{% url= directory %}#about">How it works</a>
                      </li>
                    </ul>
                  </div>
                </div>
              <div class="w-col col-md-4">
                <div class="hol-footer-content-wrapper">
                <div class="footer-title">PARTNER</div>
                  <ul class="w-list-unstyled">
                    <li class="li-item">
                      <a class="hol-footer-link" href="{% url= directory %}#about">Become Partner</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="w-col col-md-4"><div class="hol-footer-content-wrapper">
                <div class="footer-title">ABOUT</div>
                  <ul class="w-list-unstyled">
                    <li class="li-item">
                      <a class="hol-footer-link" href="{% url= directory %}#about">The Project</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="hol-val-wrapper rev">
              <div class="w-col w-col-6">
                <div>
                  <div class="cote footer-title"> ©Learnpoint, Inc. 2017</div>
                </div>
              </div>
              <div class="w-col w-col-6">
                <div>
                  <div class="w-row">
                    <div class="w-col w-col-3">
                    </div>
                    <div class="w-col w-col-3">
                      <strong>Follow Us On</strong> <br><br>
                    </div>
                    <div class="w-col w-col-3">
                      <div class="hol-social-icon-footer-wrapper">
                        <a class="icon-circle-div" href="http://facebook.com/learnpoint">
                          <img src="asset/learnpoint/fblogo.png" width="40">
                        </a>
                        <a class="icon-circle-div" href="http://instagram.com/learnpoint.id">
                          <img src="asset/learnpoint/Instagram.png" width="32">
                        </a>
                        <a class="icon-circle-div twi w-inline-block" href="#">
                          <img src="asset/learnpoint/LINE_logo.png" width="32">
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

  <!--[if lte IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script>
  <![endif]-->
  <script src ="js/webflow.js">  </script>
</body>
</html>
